/*  
---- Style Sheet Begins ----

Colours:
	Blue - #0272FC
	Grey Text - #4c4c4c
	Grey BG - #f6f8f8
	White - #fff
	Black - #000
Fonts:
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Nobile', sans-serif; 
*/
/* Global Classes */
body{
	background-color: #f6f8f8
}
ul {
    margin: 0;
}
li {
    float: left;
}
/* Header */
section.main{
	width:100%;
	height:20vh;
}
article.main{
	width:50%;
	float:left;
	margin-left: 10%;
	padding-top: 2%;
}
h1.main{
	font-family: 'Nobile', sans-serif; 
	color:#4c4c4c;
	font-size: 50px;
}
nav.nav{
	width:40%;
	float:right;
	padding-top: 2%;
}
li a img.navimg{
    display: block;
    padding:5px;
}
img.navimg{
    margin:auto;
    height:40px;
    width:40px;
    overflow: hidden;
}
/* Banner */
section.narrow{
	width:100%;
	height:50vh;
	background-color:#0272FC;
	clear:both; 
}
h1.content{
	font-family: 'Nobile', sans-serif;
	font-size: 40px;
	color:#fff;
	text-align: center;
	padding-top:10%;
}
article.narrowtitle{
	width: 100%;
}
/* Icon Groupings */
section.content{
	height: 85vh;
	width: 100%;
}
article.profileblurb{
	height:60%;
	width: 27%;
	margin:0;
	float:left;
	margin-top: 8%;
	margin-bottom: 8%;
	margin-left: 2%;
	padding: 2%;
	background-color: #bbb;
}
p.profblurb {
	color:#4c4c4c;
	font-family: 'Titillium Web', sans-serif;
	font-size: 22px;
	text-align: center;
	padding-top: 5%;
}
.profblurb h1,h2,h3{
	color:#000;
	font-family: 'Titillium Web', sans-serif;
	font-size: 26px;
	text-align: center;
}
img.profblurb{
    display: block;
    margin:auto;
    height:40%;
    width:40%;
    padding-top: 10%;
}
/* Footer */
nav.center
{
	width:40%;
	float:right;
	padding-top: 2%;
}
img.contactnav{
    height:40px;
    width:40px;
    padding:10%;
}
ul.contactnav{
	margin:0;
	width: 100%;
}
article.footer{
	width: 100%;
}
section.footer{
	width:100%;
	height:15vh;
	background-color:#0272FC;
	clear:both; 
}