/*  ---- Style Sheet Begins ----
http://flatuicolors.com/
http://www.flaticon.com/
Colours:
	Blue - #2980b9
	Deep Blue - #2c3e50
	White - #ecf0f1
	Gray - #95a5a6
	Turq - #1abc9c
Fonts:
	font-family: 'Raleway', sans-serif; */
/* Global Classes */
ul {margin: 0;}
li {float: left;}
section{width:100%;}
.overflow{overflow:hidden;}
/* Global Font Classes */
h1.white{font-family: 'Raleway', sans-serif;font-weight: 200;color:#ecf0f1;font-size:3em;text-align: center;} /* RW|400|White|3em */
h1.blue{font-family: 'Raleway', sans-serif;font-size: 3.5em;font-weight: 400;color:#2980b9;text-align: center;} /* RW|400|Blue|3.5em*/
p.darkblue{color:#2c3e50;font-family: 'Raleway', sans-serif;font-size:1.5em;font-weight: 400;text-align: center;}/* RW|400|DarkBlu|1.5em */
h1,h2,h3.bluedark{color:#2c3e50;font-family: 'Raleway', sans-serif;font-weight:400;font-size: 2em;text-align: center;}/* RW|400|DarkBlu|2.5em */
/* Section Height Classes - small/medium/full */
section.small{height:15vh;}
section.medium{height: 85vh;}
section.full{height: 100vh;}
/* Color Classes - light/blue/turq/dark */
.light{background:#ecf0f1;}
.blue{background:#2980b9;}
.turq{background:#1abc9c;}
.dark{background:#2c3e50;}
/* Icon Nav Bar - nav */ 
nav.nav{width:30%;float:right;}
img.nav{margin:auto;height:45%;display:block;padding:3%;}
/* Section Specific Classes */ 
/* Header - header */
article.header{width:50%;float:left;}
/* Banner - banner*/
h1.banner{background:inherit;padding-top:2%;}
img.banner{height:80%;margin: auto;display: block;}
/* Icon Triplets -itriple */
article.itriple{height:70%;width:28%;margin:0;float:left;margin-top:5%;margin-left:2%;padding:1%;background-color: #ecf0f1;}
img.itriple{display: block;margin:auto;height:50%;margin-top:8%;}
/* Testimonial - testimonial */
/* Footer - footer*/